<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="basePath">.</Property>
    </Properties>
 
    <Appenders>		    	    	
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout   pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %F:%L - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>        
        <Root level="debug" additivity="false">
<!--         	<appender-ref ref="RegularLogfileAppender" level="debug" /> -->
            <appender-ref ref="console" level="debug" />
        </Root>
    </Loggers>
</Configuration>